<!DOCTYPE html>
<html lang="ru" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Third project for Hexlet.io">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  </head>
  <body class="flex flex-col min-h-full bg-white text-gray-900">
    {% include 'header.html'%}
    {% block content %}
    {% endblock %}
    {% include 'footer.html'%}
  </body>
</html>
